<%= form_with(model: antrian, local: true) do |form| %>
  <% if antrian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(antrian.errors.count, "error") %> prohibited this antrian from being saved:</h2>

      <ul>
      <% antrian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @nambah = @ss + 1 %>
  <div class="field">
    <%= form.label :nm %>
    <%= form.number_field :nm , :value => @nambah , :readonly => 'true' %>
  </div>

  <div class="field">
    <%= form.label :keterangan %>
    <%= form.text_field :keterangan %>
  </div>

  <div class="field">
    <%= form.label :tgl %>
    <%= form.date_select :tgl %>
  </div>

  <div class="field">
    <%= form.label :waktu %>
    <%= form.time_select :waktu %>
  </div>

  <div class="field">
    <%= form.label :pasien %>
    <%= form.text_field :orang_id %>
  </div>

  <div class="field">
    <%= form.label :Dokter %> <%= current_user.name %>
    <%= form.text_field :user_id , :value => current_user.id , :type => 'hidden' %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
