<p id="notice"><%= notice %></p>

<h1>Antrians</h1>

<table>
  <thead>
    <tr>
      <th>Nm</th>
      <th>Keterangan</th>
      <th>Tgl</th>
      <th>Waktu</th>
      <th>Orang</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @antrians.each do |antrian| %>
      <tr>
        <td><%= antrian.nm %></td>
        <td><%= antrian.keterangan %></td>
        <td><%= antrian.tgl %></td>
        <td><%= antrian.waktu %></td>
        <td><%= antrian.orang.id %></td>
        <td><%= antrian.user.name %></td>
        <td><%= link_to 'Show', antrian %></td>
        <td><%= link_to 'Edit', edit_antrian_path(antrian) %></td>
        <td><%= link_to 'Destroy', antrian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
Proses : <%= @ht %>
<br>
Menunggu : <%= @mn %>
<br>
Banyakya : <%= @hitung %> <%= current_user.id %>
<br>

<% @antrians.each do |antri| %>
  <% if antri.orang_id == current_user.id %>
  Nomor Antrian Anda : <%= antri.nm %> 
  <% else %>
  
  <% end %>
<% end %>


<br>
<%= link_to 'New Antrian', new_antrian_path %>
