<p id="notice"><%= notice %></p>

<p>
  <strong>Nm:</strong>
  <%= @antrian.nm %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @antrian.keterangan %>
</p>

<p>
  <strong>Tgl:</strong>
  <%= @antrian.tgl %>
</p>

<p>
  <strong>Waktu:</strong>
  <%= @antrian.waktu %>
</p>

<p>
  <strong>Orang:</strong>
  <%= @antrian.orang %>
</p>

<p>
  <strong>User:</strong>
  <%= @antrian.user %>
</p>

<%= link_to 'Edit', edit_antrian_path(@antrian) %> |
<%= link_to 'Back', antrians_path %>
