<%= form_with(model: mobil, local: true) do |form| %>
  <% if mobil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mobil.errors.count, "error") %> prohibited this mobil from being saved:</h2>

      <ul>
      <% mobil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :keterangan %>
    <%= form.text_field :keterangan %>
  </div>

  <div class="field">
    <%= form.label :orang_id %>
    <%= current_user.name %>
    <%= form.text_field :orang_id , :value => current_user.id , :type => 'hidden' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
