<p id="notice"><%= notice %></p>

<h1>Mobils <%= current_user.id %></h1>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Keterangan</th>
      <th>Orang</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    
    <% @mobils.each do |mobil| %>
      <% if current_user.id == mobil.orang.id %>
      <tr>
        <td><%= mobil.nama %></td>
        <td><%= mobil.keterangan %></td>
        <td><%= mobil.orang.id %></td>
        <td><%= link_to 'Show', mobil %></td>
        <td><%= link_to 'Edit', edit_mobil_path(mobil) %></td>
        <td><%= link_to 'Destroy', mobil, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mobil', new_mobil_path %>
