<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @mobil.nama %>
</p>

<p>
  <strong>Keterangan:</strong>
  <%= @mobil.keterangan %>
</p>

<p>
  <strong>Orang:</strong>
  <%= @mobil.orang.nama %>
</p>

<%= link_to 'Edit', edit_mobil_path(@mobil) %> |
<%= link_to 'Back', mobils_path %>
