<%= form_with(model: orang, local: true , :html => { :multipart => true }) do |form| %>

  <% if orang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(orang.errors.count, "error") %> prohibited this orang from being saved:</h2>

      <ul>
      <% orang.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :alamat %>
    <%= form.text_field :alamat %>
  </div>

  <div class="field">
    <%= form.label :jk %>
    <%= form.text_field :jk %>
  </div>

  <div class="field">
    <%= form.label :foto %>
   <%= form.text_field :foto %>
  </div>

    <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>


  <div class="actions">
    <%= form.submit "Simpan" %>
  </div>
<% end %>
