<p id="notice"><%= notice %></p>

<h1>Orangs</h1>
<%#= current_user.id %>

<table>
  <thead>
    <tr>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Jk</th>
      <th>Foto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orangs.each do |orang| %>
 
      <tr>
        <td><%= orang.nama %></td>
        <td><%= orang.alamat %></td>
        <td><%= orang.jk %></td>
        <td><%= orang.foto %></td>
        <td><%= link_to 'Show', orang %></td>
        <td><%= link_to 'Edit', edit_orang_path(orang) %></td>
        <td><%= link_to 'Destroy', orang, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orang', new_orang_path %>
