<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @orang.nama %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @orang.alamat %>
</p>

<p>
  <strong>Jk:</strong>
  <%= @orang.jk %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @orang.foto %>
</p>

<p>
  <strong>image:</strong>
  <%= image_tag @orang.image.url(:small) %>
</p>

<%= link_to 'Edit', edit_orang_path(@orang) %> |
<%= link_to 'Back', orangs_path %>
