<%= form_with(model: diskusi, local: true) do |form| %>
  <% if diskusi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diskusi.errors.count, "error") %> prohibited this diskusi from being saved:</h2>

      <ul>
      <% diskusi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isi %>
    <%= form.text_area :isi %>
  </div>

  <div class="field">
    <%= form.label :tgl %>
    <%= form.date_select :tgl %>
  </div>

  <div class="field">
    <%= form.label :orangs_id %>
    <%= form.text_field :orangs_id , :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
