<p id="notice"><%= notice %></p>

<h1>Diskusis</h1>

<table>
  <thead>
    <tr>
      <th>Isi</th>
      <th>Tgl</th>
      <th>Orangs</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diskusis.each do |diskusi| %>
      <tr>
        <td><%= diskusi.isi %></td>
        <td><%= diskusi.tgl %></td>
        <td><%= diskusi.orangs %></td>
        <td><%= link_to 'Show', diskusi %></td>
        <td><%= link_to 'Edit', edit_diskusi_path(diskusi) %></td>
        <td><%= link_to 'Destroy', diskusi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diskusi', new_diskusi_path %>
