<p id="notice"><%= notice %></p>

<p>
  <strong>Isi:</strong>
  <%= @diskusi.isi %>
</p>

<p>
  <strong>Tgl:</strong>
  <%= @diskusi.tgl %>
</p>

<p>
  <strong>Orangs:</strong>
  <%= @diskusi.orangs %>
</p>

<h2>Add a comment:</h2>
<%= form_with(model: [ @diskusi, @diskusi.commentds.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :isi %><br>
    <%= form.text_area :isi %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_diskusi_path(@diskusi) %> |
<%= link_to 'Back', diskusis_path %>
