<%= form_with(model: pesan, local: true) do |form| %>
  <% if pesan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pesan.errors.count, "error") %> prohibited this pesan from being saved:</h2>

      <ul>
      <% pesan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isi %>
    <%= form.text_field :isi %>
  </div>

  <div class="field">
    <%= form.label :Dari %>
    <%= form.text_field :orang_id %>
  </div>

  <div class="field">
    <%= form.label :Kepada %>
    <%= form.text_field :user_id %>
  </div>
<%= current_user.id %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
