<p id="notice"><%= notice %></p>

<h1>Pesans</h1>

<table>
  <thead>
    <tr>
      <th>Isi</th>
      <th>Dari</th>
      <th>Kepada</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pesans.each do |pesan| %>
      <tr>
        <td><%= pesan.isi %></td>
        <td><%= pesan.orang.nama %></td>
        <td><%= pesan.user.email %></td>
        <td><%= link_to 'Show', pesan %></td>
        <td><%= link_to 'Edit', edit_pesan_path(pesan) %></td>
        <td><%= link_to 'Destroy', pesan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pesan', new_pesan_path %>
