<p id="notice"><%= notice %></p>

<p>
  <strong>Pesan</strong>
  <br>
  <b><%= @pesan.orang.nama %> </b> : <%= @pesan.isi %>
</p>
<% @pesan.bls.each do |comment| %>
  <p>
    <strong><%= comment.org %></strong>
  	<%= comment.isi %>
  </p>
 
    
<% end %>
<h2>Add a comment:</h2>
<%= form_with(model: [ @pesan, @pesan.bls.build ], local: true) do |form| %>
  <p>
    <%= form.label :org %><br>
    <%= form.text_field :org , :value => current_user.name %>
  </p>
  <p>
    <%= form.label :isi %><br>
    <%= form.text_area :isi %>
  </p>
  <p>
    <%= form.submit "Balas" %>
  </p>
<% end %>

<!-- <p>
  <strong>Kepada:</strong>
  <%= @pesan.user.name %>
</p> -->

<%#= link_to 'Edit', edit_pesan_path(@pesan) %> 
<%= link_to 'Kembali', pesans_path %>
