<%# ----- add these lines here: ----- %>

<h1>Sign Up</h1>

<%= form_for @bebek do |f| %>
  <div>
    <%= f.label :nama %>
    <%= f.text_field :nama, autofocus: true %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

    <%= f.submit "Sign up!" %>
  </div>
<% end %>
  
<%# ----- end of added lines ----- %>
