<%= form_with(model: disku, local: true) do |form| %>
  <% if disku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(disku.errors.count, "error") %> prohibited this disku from being saved:</h2>

      <ul>
      <% disku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isi %>
    <%= form.text_area :isi %>
  </div>

  <div class="field">
    <%= form.label :tgl %>
    <%= form.date_select :tgl %>
  </div>

  <div class="field">
    <%= form.label :orang_id %>
    <%= form.text_field :orang_id , :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
