<p id="notice"><%= notice %></p>

<h1>Diskus</h1>

<table>
  <thead>
    <tr>
      <th>Isi</th>
      <th>Tgl</th>
      <th>Orang</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diskus.each do |disku| %>
      <tr>
        <td><%= disku.isi %></td>
        <td><%= disku.tgl %></td>
        <td><%= disku.orang %></td>
        <td><%= link_to 'Show', disku %></td>
        <td><%= link_to 'Edit', edit_disku_path(disku) %></td>
        <td><%= link_to 'Destroy', disku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Disku', new_disku_path %>
