<p id="notice"><%= notice %></p>

<p>
  <strong>Isi:</strong>
  <%= @disku.isi %>
</p>

<p>
  <strong>Tgl:</strong>
  <%= @disku.tgl %>
</p>

<p>
  <strong>Orang:</strong>
  <%= @disku.orang %>
</p>

<h2>Comments</h2>
<% @disku.komentars.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commet %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.isi %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @disku, @disku.komentars.build ], local: true) do |form| %>
  <p>
    <%= form.label :commet %><br>
    <%= form.text_field :commet, :value => current_user.email %>
  </p>
  <p>
    <%= form.label :isi %><br>
    <%= form.text_area :isi %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<%= link_to 'Edit', edit_disku_path(@disku) %> |
<%= link_to 'Back', diskus_path %>
